body {
  background-color: #F7C8C2;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main-content {
  display: flex;
  justify-content: center;
}

#invite-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.invite-list-name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.invite-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C2F1F7;
  padding: 1em;
  box-shadow: 3px 5px 8px #888888;
}

.create-invite-button {
  display: flex;
  justify-content: center;
}

.create-invite-button-text {
  width: 10em;
  background-color: #c2f7e3;
  padding: 0.25em;
  box-shadow: 3px 5px 8px #888888;
}

table {
  border-spacing: 15px;
}

.table-dash {
  border-bottom: 1px solid black;
}

.flip-card {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flip-card-inner {
  height: 500px;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#flip-card-front {
  background-color: red;
}

#flip-card-back {
  background-color: blue;
}

.flip-card-side {
  position: absolute;
}


@media (max-width: 1300px) {
  .invite-list-new-form {
    display: flex;
    flex-direction: column;
  }
}