@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

body {
  min-height:100vh;
  width: auto;
  background-color: #153e54;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
}

#main-content {
  display: flex;
  justify-content: center;
}

table, th, td, tr {
  border: 1px solid #f3e4d0;
  border-collapse: collapse;
}

th.thead-other {
  padding: 1em;
}

th.thead-name {
  padding: 1em;
  padding-left: 6em;
  padding-right: 6em;
}

tbody.invite-list-items td {
 background-color: #f3e4d0;
 border: 1px solid #153e54;
 color: #153e54;
}

td.invite-item-name.invite-item-content {
  text-align: left;
  padding: 0.5em;
}

a {
  text-decoration:none;
}

a.image-link:focus {
  outline: none;
}

#invite-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.invite-list-name {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #f3e4d0;
}

.invite-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3e4d0;
  padding: 1em;
}

.invite-list th {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #f3e4d0;
  background-color: #153e54;
}

.invite-list td {
  color: #f3e4d0;
  background-color: #153e54;
}

.create-invite-button {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.create-invite-button-text {
  width: 50%;
  padding: 1em;
  box-shadow: 5px 5px #0A2530;
  color: #f3e4d0;
  background-color: #153e54;
}

.form-labels {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #153e54
}

.form-inputs {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #153e54;
  background-color: #f3e4d0;
}

#attendee-plus-count {
  color: #f3e4d0;
  background-color: #153e54;
}

.btn.invite-list-new {
  width: 25%;
  padding: 0.75em;
  box-shadow: 5px 5px #0A2530;
  color: #f3e4d0;
  background-color: #153e54;
  border: none;
  text-decoration: none;
}

table {
  border-spacing: 15px;
}

.table-dash {
  border-bottom: 1px solid black;
}

.flip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  perspective: 600px;
}

.flip-card-inner {
  height: 800px;
  width: 1200px;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  height: 100%;
  width: 100%;
}

.postcard-image {
  width: 100%;
  height: 100%;
}

#flip-card-back {
  transform: rotateY(-180deg);
}

.flip-card-desc input[type="radio"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-bottom: 0.15em solid currentColor;
}

.rsvp-button {
  width: 50%;
  padding: 1em;
  margin: 1em;
  box-shadow: 5px 5px #0A2530;
  color: #153e54;
  background-color: #f3e4d0;
}


.rsvp-option {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1300px) {
  .invite-list-new-form {
    display: flex;
    flex-direction: column;
  }
}