<body id='main-content'>
  <h1>Invites</h1>
  <% javascript_tag("app") %>

  <div class ='invite-list'>
    <a href="/invite/new">Create new invite</a>
    <% attendees.each do |attendee| %>
      <div id="invite-<%= attendee[:id] %>" class='invite-item'>
        <a href="/invite/<%= attendee[:id]%>"><%= attendee[:first_name] %> <%= attendee[:last_name] %></a>
        <div class='rsvp'>
          <% if attendee[:rsvp].nil? %>
            Did not answer
          <% elsif attendee[:rsvp] %>
            RSVP'ed Yes
          <% else %>
            RSVP'ed No
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

